
body {
  background-color: navajowhite;
  color: rgb(5, 5, 130);
  font-family: "Arsenal SC", sans-serif;
  font-size: 20px; 
  margin: 0;
  padding-top: 125px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #334f77;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  list-style: none;
}

nav a {
  color: navajowhite;
  font-weight: bold;
  text-decoration: none; 
}

nav a:hover {
  color: #00ddff;
}

/* this will make sure these are aligned together */
#about,
h1,
img {
  text-align: center;
  margin: auto;
  display: block;
}

h1,
h2,
h3 {
  color: navy;
  font-size: 30px;
  font-weight: bold;
}

section,
#about {
  background-color: #858282;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px;
}

h1 {
  font-style: oblique;
}

#experience {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

#experience h2 {
  margin-bottom: 20px;
  text-align: center;
}

#connect {
  display: flex;
}

#connect li {
 list-style: none; 
 padding: 0;
 margin: 0;
 display: flex;
 /* justify-content: center; */
 padding: 15px;
}

#connect a {
  display: block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

#connect a.github {
  background-image: url('../images/github.png');
}

#connect a.linkedin {
  background-image: url('../images/linkedin2.png');
}

#connect a.facebook {
  background-image: url('../images/facebook.png');
}

#connect a.instagram {
  background-image: url('../images/instagram.png');
}
